.edit,
.delete {
  position: absolute;
}

.edit {
  z-index: 5;
}

.edit button,
.delete button {
  width: 35px;
  height: 35px;
  background: #ffffff;
  border: 2px solid rgb(145, 145, 145);
  border-radius: 50%;
  padding-top: 3px;
  cursor: pointer;
}

.delete button {
  margin-left: 45px;
}

.edit button img,
.delete button img {
  width: 25px;
  height: 25px;
}
